@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

div,
label,
input {
  cursor: inherit;
}

.account-links {
  @apply flex items-center gap-4 p-2 text-gray-500 font-semibold;

  &.account-current {
    @apply text-blue-500;
  }

  svg {
    @apply h-6 w-6;
  }
}

.radio-togglers {
  @apply inline-flex p-1 bg-gray-200 font-bold;

  div {
    @apply flex items-center gap-2 p-2 px-4 text-gray-500 cursor-pointer;
  }

  input[type='radio'] {
    @apply hidden;

    &:checked + div {
      @apply bg-white text-blue-500;
    }
  }
}

.settings-label {
  @apply uppercase text-gray-400 text-xs font-semibold;
}

.settings-input {
  @apply bg-gray-100 w-full inline-block p-2 mb-2;
}

.sortable-ghost {
  opacity: 0.3;
  /* @apply bg-gray-300; */
}

.sortable-handle {
  @apply px-2 py-4 w-5 h-5 cursor-grab active:cursor-grabbing font-extralight text-gray-400;
}

.edit-tag {
  @apply absolute flex items-center justify-center bottom-0 -right-0 cursor-pointer bg-white w-10 h-10 text-gray-700 rounded-full shadow shadow-black/30;
}

input#navCb:checked ~ aside {
  left: 0;
}

input#navCb:checked ~ .backdrop {
  display: block;
}
